@model MvcInterface.Models.LoginModel

@{
    ViewBag.Title = "CreateAccount";
    //string returnUrl = ViewBag.ReturnUrl;
}

<h2>Create Account</h2>

@*@using (Html.BeginForm())
{
    if (!string.IsNullOrWhiteSpace(returnUrl))
    {
      @Html.Hidden("returnUrl", returnUrl)

    }
    
    *@<div>
    @Html.LabelFor(m => m.Username)
    @Html.EditorFor(m => m.Username)
    </div>
    
    <div>
    @Html.LabelFor(m => m.Password)
    @Html.EditorFor(m => m.Password)
    </div>
    
    <input type="submit" value="Create" />
}