@model MvcInterface.Models.Users

@{
    ViewBag.Title = "Details";
   // string imageurl = Model.ImageAddr;
}

<h2>Details</h2>

<div class="row-fluid show-grid">

    <div class="span1" >
         <img src="@Url.Action("GetUserImage", new { path = Model.ImageAddr })" class="img-details"/>
    </div>
    <div class="span1" ></div>
    <div class="span2" ></div>
    <div class="span4" ></div>
    <div class="span4" ></div>

</div>

<table class="table">
    <tr>

        <th>
            Name
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Age
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(model => model.Age)
        </td>
        <td>

            @Html.ActionLink("Awards", "UserAwards", new { id = Model.ID }) | 
            @Html.ActionLink("Add new Award", "AddAwardToUser", new { id = Model.ID })|
            @Html.ActionLink("Change image", "UploadImage", new { id = Model.ID }) |
            @Html.ActionLink("Remove image", "RemoveImage", new { id = Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ID })           

           
        </td>
    </tr>

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
