@model IEnumerable<MvcInterface.Models.Users>

@{
    ViewBag.Title = "Users";    
}

<h2>Users</h2>
@if (User.IsInRole("Admin") )
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}    

<table class="table">
    <tr>
        <th></th>

        <th>
            Name
        </th>

        <th></th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    var awList = item._awardList;
    <tr>
         <td>
            <div class="row-fluid show-grid">

                <div class="span1" >
                     <img src="@Url.Action("GetUserImage", new { path = item.ImageAddr })" class="img-thumbnail" />
                </div>
                <div class="span1" ></div>
                <div class="span2" ></div>
                <div class="span4" ></div>
                <div class="span4" ></div>

            </div>
         </td>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        @if (User.IsInRole("Admin") || User.IsInRole("User"))
        {
            <td>
               @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            </td>
            
            <td>
                @Html.Action("GetUserAwardsToIndex", "Users", new { id=item.ID })
            </td>
        }
    </tr>
}

</table>    
